In [4]:
import pandas as pd

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo=pd.read_csv(url,delimiter="\t",encoding='utf-8') #read tsv file by delimiter \t

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [32]:
distinct_item = pd.Series(pd.unique(chipo.item_name))

In [33]:
distinct_item

0              Chips and Fresh Tomato Salsa
1                                      Izze
2                          Nantucket Nectar
3     Chips and Tomatillo-Green Chili Salsa
4                              Chicken Bowl
5                             Side of Chips
6                             Steak Burrito
7                          Steak Soft Tacos
8                       Chips and Guacamole
9                      Chicken Crispy Tacos
10                       Chicken Soft Tacos
11                          Chicken Burrito
12                              Canned Soda
13                         Barbacoa Burrito
14                         Carnitas Burrito
15                            Carnitas Bowl
16                            Bottled Water
17    Chips and Tomatillo Green Chili Salsa
18                            Barbacoa Bowl
19                                    Chips
20                       Chicken Salad Bowl
21                               Steak Bowl
22                      Barbacoa Soft Tacos
23                           Veggie Burrito
24                              Veggie Bowl
25                       Steak Crispy Tacos
26      Chips and Tomatillo Red Chili Salsa
27                    Barbacoa Crispy Tacos
28                        Veggie Salad Bowl
29       Chips and Roasted Chili-Corn Salsa
30       Chips and Roasted Chili Corn Salsa
31                      Carnitas Soft Tacos
32                            Chicken Salad
33                        Canned Soft Drink
34                         Steak Salad Bowl
35                        6 Pack Soft Drink
36      Chips and Tomatillo-Red Chili Salsa
37                                     Bowl
38                                  Burrito
39                             Crispy Tacos
40                    Carnitas Crispy Tacos
41                              Steak Salad
42        Chips and Mild Fresh Tomato Salsa
43                        Veggie Soft Tacos
44                      Carnitas Salad Bowl
45                      Barbacoa Salad Bowl
46                                    Salad
47                      Veggie Crispy Tacos
48                             Veggie Salad
49                           Carnitas Salad
dtype: object

In [ ]:
count

In [10]:
chipo.shape

(4622, 5)

In [11]:
chipo.size

23110

In [16]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [23]:
len(chipo.columns)

5

In [25]:
len(chipo.index)

4622

In [26]:
chipo.shape

(4622, 5)

From what we've seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values


data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
                 
      We can even use non-contiguous or non-sequential indices
      
      data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])

The Series-as-dictionary analogy can be made even more clear by constructing a Series object directly from a Python dictionary:

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population


population['California'] 
38332521

the DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. We'll now take a look at each of these perspectives.

https://jakevdp.github.io/PythonDataScienceHandbook/03.01-introducing-pandas-objects.html

In [29]:
chipo.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [16]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [22]:
print(f"{chipo.item_name[max(chipo.quantity)]} {max(chipo.quantity)}")

Chips and Tomatillo-Green Chili Salsa 15

In [23]:
sum(chipo.quantity)

4972

2441    5
Name: quantity, dtype: int64

In [34]:
chipo.head(15)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

In [37]:
pd.type(chipo.item_name)

AttributeError: module 'pandas' has no attribute 'type'

In [38]:
df1= pd.DataFrame(chipo)

In [42]:
df1.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [47]:
df1.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [52]:
df1["item_price"] = df1.apply(lambda x: int(x['item_price'].replace(',', '')),axis=1)

ValueError: ("invalid literal for int() with base 10: '$2.39 '", 'occurred at index 0')

In [53]:
df1['item_price']

ValueError: invalid literal for int() with base 10: '$2.39 '